.email_box{
    position:absolute;
    margin-left:500px;
    margin-top:200px;
}
.email_form{
    width:300px;
    height:28px;
    outline:none;
    border:1px solid #aaa;
    padding-left:5px;
    padding-top:2px;
    border-radius:3px;
}
.btn{
    width:308px;
    margin-top:5px;
    height:33px;
    outline:none;
    background:blue;
    border:1px solid blue;
    border-radius:3px;
    color:#fff;
}